@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.header {
    display: flex;
    border-bottom: 3px solid #E7B355;
    background-color: #FFC75F;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 20px 10px 20px 100px;
}

h3 {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}

.user {
    margin-left: auto;
}

.link {
    color: black;
    text-decoration: none;
    font-family: 'Love Ya Like A Sister', cursive;
}

.userName {
    background-color: #E7B355;
    padding: 8px;
    border-radius: 20px;
    margin-right: 40px;
    margin-top: 25px;
    font-family: 'Love Ya Like A Sister', cursive;
}